/workshops/FPD2-controlstatement/nbproject/private/
/workshops/FPD2-controlstatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assigments/Perimeter of an octagon/nbproject/private/
/assigments/Perimeter of an octagon/build/
/workshops/unit1/WSO4 logical operators/nbproject/private/
/workshops/unit1/WSO4 logical operators/build/
/workshops/unit1/workshops05iterations/nbproject/private/
/workshops/unit1/workshops05iterations/build/
/assigments/assigments02iterations/nbproject/private/
/assigments/assigments02iterations/build/