/workshops/FPD2-controlstatement/nbproject/private/
/workshops/FPD2-controlstatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assigments/Perimeter of an octagon/nbproject/private/
/assigments/Perimeter of an octagon/build/
/workshops/unit1/WSO4 logical operators/nbproject/private/
/workshops/unit1/WSO4 logical operators/build/
/workshops/unit1/workshops05iterations/nbproject/private/
/workshops/unit1/workshops05iterations/build/
/assigments/assigments02iterations/nbproject/private/
/assigments/assigments02iterations/build/
/workshops/unit1/WS06Evaluacion de operadores/nbproject/private/
/workshops/unit1/WS07/nbproject/private/
/workshops/unit1/WS07/build/
/workshops/unit1/WS06Evaluacion de operadores/build/
/workshops/unit1/WS06Evaluacion de operadores/dist/
/assigments/assigments03/nbproject/private/
/assigments/assigments03/build/
/assigments/exam/nbproject/private/
/assigments/exam/build/
/Exam/Unit 1/Sarzosa.ShirleyQ11.jv/nbproject/private/
/Exam/Unit 1/Sarzosa.ShirleyQ11.jv/build/
/assigments/proyect01/nbproject/private/
/assigments/proyect01/build/
/workshops/Unit 2/ExamQ11Solution/nbproject/private/
/workshops/Unit 2/ExamQ11Solution/build/
/assigments/Unit 2/Assigment5 factorial/nbproject/private/
/assigments/Unit 2/assigment5factorial/nbproject/private/
/assigments/Unit 2/assigments5factorial/nbproject/private/
/assigments/Unit 2/assigmet5factorial/nbproject/private/
/assigments/Unit 2/lorena/nbproject/private/
/assigments/Unit 2/assigment54/nbproject/private/
/assigments/Unit 2/assigment5factorial/build/
/assigments/Unit 2/ HW09-EmbeddedStructures/nbproject/private/
/assigments/Unit 2/ HW09-EmbeddedStructures/build/
/workshops/Unit 2/WS10FUNCTIONS/nbproject/private/
/workshops/Unit 2/WS10FUNCTIONS/build/
/assigments/Unit 2/HW10-FUCTIONS/nbproject/private/
/assigments/Unit 2/HW10-FUCTIONS/build/
/assigments/Unit 2/ws11pegazus/nbproject/private/
/workshops/Unit 2/WH11/nbproject/private/
/workshops/Unit 2/WH11/build/
/assigments/Unit 2/ws11pegazus/build/
/assigments/Unit 2/HW11recursion/nbproject/private/
/assigments/Unit 2/HW11recursion/build/
/workshops/Unit 2/WS12libraries/nbproject/private/
/workshops/Unit 2/WS12libraries/build/
/assigments/Unit 2/HW12ICOME TAX/nbproject/private/
/assigments/Unit 2/HW12ICOME TAX/build/
/assigments/Unit 2/WS13/nbproject/private/
/workshops/Unit 2/ws13calculate/nbproject/private/
/workshops/Unit 2/ws13calculate/build/
/workshops/Unit 2/Temperatures14/nbproject/private/
/workshops/Unit 2/Temperatures14/build/
/assigments/Unit 2/WH14temperatures/nbproject/private/
/assigments/Unit 2/ws14temperatures/nbproject/private/
/assigments/Unit 2/ws14temperatures/build/
/quiz/quiz/nbproject/private/
/quiz/quiz/build/
/workshops/Unit 2/q01_02222012Arraiz/nbproject/private/
/workshops/Unit 2/q01_02222012Arraiz/build/
/workshops/Unit 2/WS16MatrixAddition/nbproject/private/
/quiz/quizCorrection/nbproject/private/
/quiz/quizCorrection/build/
/workshops/Unit 2/WS16MatrixAddition/build/
/quiz/HW15-matrixAddition/nbproject/private/
/assigments/Unit 2/WH15-MatrixSubtraction/nbproject/private/
/assigments/Unit 2/WH15-MatrixSubtraction/build/
/assigments/Unit 2/WH16MatrixOpperation/nbproject/private/
/workshops/Unit 2/WS17MatrixOperation/nbproject/private/
/workshops/Unit 2/WS17MatrixOperation/build/
/assigments/Unit 2/WH16MatrixOperation/nbproject/private/
/assigments/Unit 2/WH16MatrixOperation/build/
/Exam/Unit 2/SarzosaSQ11/nbproject/private/
/Exam/Unit 2/SarzosaSQ11/build/
/assigments/Unit 2/pegazus.01/nbproject/private/
/workshops/Unit 3/Ws19 Arrays inspection/nbproject/private/
/workshops/Unit 3/Ws19 Arrays inspection/build/
/workshops/Unit 3/reveca/nbproject/private/
/workshops/Unit 3/reveca/build/
/assigments/Unit 2/pegazus.01/build/
/assigments/Unit 2/WH15-MatrixSubtraction/dist/
/workshops/Unit 3/WH21Fuctions/nbproject/private/
/workshops/Unit 3/WH21Fuctions/build/
/workshops/Unit 3/WH21Fuctions/dist/
/workshops/Unit 3/WS22MODULARITYcalculator/nbproject/private/
/workshops/Unit 3/WS22MODULARITYcalculator/build/
/workshops/Unit 3/WS23Libraries-TaxDeclarations/nbproject/private/
/workshops/Unit 3/TaxLibrary/nbproject/private/
/workshops/Unit 3/TaxLibrary/build/
/workshops/Unit 3/TaxLibrary/dist/
/workshops/Unit 3/WS23Libraries-TaxDeclarations/TaxLibrary/build/
/workshops/Unit 3/WS23Libraries-TaxDeclarations/TaxLibrary/dist/
/workshops/Unit 3/WS23Libraries-TaxDeclarations/TaxLibrary/nbproject/private/
/workshops/Unit 3/WS23Libraries-TaxDeclarations/build/
/assigments/Unit 3/WH17Libraries/nbproject/private/
/assigments/Unit 3/WH17Libraries/MatrixLibrary/nbproject/private/
/assigments/Unit 3/WH17Libraries/MatrixLibrary/build/
/assigments/Unit 3/WH17Libraries/MatrixLibrary/dist/
/assigments/Unit 3/WH17Libraries/build/
/workshops/Unit 3/WS42SortingAlgorithms/nbproject/private/
/workshops/Unit 3/WS42SortingAlgorithms/build/